.button {
    border-radius: 8px;
    border: none;
    background: #62A1EB;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    margin: 20px 0;
    height: 60px;
}

.big-button {
    width: 387px;
}

.small-button {
    width: 176px;
}

.button:hover {
    background: #317AD0;
    cursor: pointer;
}

.button:focus {
    background: #1A5DAB;;
}

.list-button {
    margin-bottom: 147px;
}