.laptop-card {
    display: flex;
    background-color: #EAFAFF;
    border: 1px solid #aed1ea;
    border-radius: 20px;
    gap: 20px;
    padding: 10px;
    width: 45%;
}

.laptop-card img {
    object-fit: cover;
}

.laptop-img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: contain;
}

.laptop-info {
    background-color: #eafaff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardP {
    padding: 10px;
    font-weight: 700;
}

.laptopInfo a {
    color: #4386a9;
    padding: 40px 10px;
}

@media only screen and (max-width: 391px) {
    .laptop-card {
        display: flex;
        background-color: #EAFAFF;
        border: 1px solid #aed1ea;
        border-radius: 20px;
        gap: 2px;
        padding: 10px;
        width: 92vw;
        height: 10rem;
        margin-left: 15px;
    }
    .laptop-img {
        width: 150px;
        height: 100%;
        border-radius: 8px;
        object-fit: contain;
    }
    .laptop-info {
        background-color: #eafaff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2rem;
    } 
    .laptop-info a {
        margin-bottom: 2rem;
    }  
}