@font-face {
  font-family: helveticaNeue;
  src: url(../src/assets/HelveticaNeue.ttc) format("trueType");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helveticaNeue;
}

html {
  /* width: 1920px;
    height: 1080px; */
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
}


