.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-class {
  width: 781px;
  height: 482px;
  margin: 20px 0;
}

.redberry-text {
    margin: 80px;
}

.create-record {
  width: 387px !important;
}

.list-link {
  width: 387px !important;
}

.responsive-pic {
  display: none;
}

@media only screen and (max-width: 391px) {

  .image-class {
    display: none;
  }
  .responsive-pic {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0;
    margin-bottom: 4rem;
  }

  .responsive-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .create-record {
    width: 327px !important;
  }

  .list-link {
    width: 327px !important;
  }
}