.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-class {
  width: 781px;
  height: 482px;
  margin: 20px 0;
}

.redberry-text {
    margin: 80px;
}

.create-record {
  width: 387px !important;
}

.list-link {
  width: 387px !important;
}