.error-class {
    color: #E52F2F;
}

.uploadedImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-container {
    height: 423px;
    width: 878px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-bottom: 45px;
}

.normal-img-container {
    border: 2px dashed #4386A9;
}

.error-img-container {
    border: 2px dashed #E52F2F;
    background: #f765652d;
}

.laptop-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    height: 100%;
    width: 49%;
    margin-top: 50px;
    padding: 88px 216px;
}

.upload-img-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dropUploadText {
    width: 200px;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
}

.uploadLink {
    width: 233px;
    transition: all 0.2s ease-in-out;
}

.uploadLink:hover {
    cursor:pointer;
    color: #F6F6F6;
    background: #BED918;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.mark {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.margin-top {
    margin-top: 3px;
}

.removePic-btn {
    margin-top: 10px;
    width: 233px;
    height: 50px;
    font-weight: 500;
    background:#4386A9;
    transition: background 0.2s ease-in-out;
}

.removePic-btn:hover {
    cursor: pointer;
    background: #f93a1db2;
}

.stretch-row {
    display: flex;
    flex-direction: row;
}

.dropdown {
    margin-top: 29px;
    border-radius: 8px;
    border: none;
    background: #EBEBEB;
}

.hr {
    border: 1px solid #C7C7C7;
    width: 100%;
    margin-bottom: 30px;
}

.third-width {
    width: 325px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-start {
    display: flex;
    justify-content:flex-start !important;
}

.radio {
    padding-left:30px;
}

#HDD, #SSD, #new, #used {
    margin-right:7px;
    margin-top: 2px;
}

#SSD, #new {
    padding-right: 18px;
}

.error-text {
    color: #E52F2F;
}

.normal-text {
    color: #4386A9;
}

.basic-text {
    color: #000000;
}

.margin-right {
    margin-right: 10px;
}

.left-positioned {
    margin-left: 78px;
    width: 100%;
}

#back-btn {
    border: none;
    background: transparent;
    font-size: 18px;
    color: #62A1EB;
}

#back-btn:hover {
    cursor:pointer
}

.padding-around {
    padding: 0 33px;
}

.save-btn {
    width: 180px !important;
    font-size: 20px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.stretch-row {
    width: 58rem;
}

.halfway {
    width: 50%;
}

.halfway input {
    width: 100%;
}

.third {
    width: 20rem;
}

.third input {
    width: 100%;
}

.halfway-dropdown {
    width: 100%;
    border: 1px solid red;
}

.dropdown-container-class {
    width: 28rem;
}

#flex-row-id {
    display: flex;
    flex-direction: row;
    margin-right: 22rem;
}

.date-margin-bottom {
    margin-bottom: 0;
}

.icon-margin {
    margin-top: 13px;
}

#storage-margins {
    margin: 20px;
}

.responsive-camera {
    display: none;
}

#dropUploadText-responsive {
    display: none;
}

@media only screen and (max-width: 391px) {
    .logo {
        display: none;
    }

    #userInfoTitle {
        display: none;
    }

    #laptopInfoTitle {
        margin-left: 3.5rem;
        font-weight: 900;
        margin-top: -2.6rem;
    }

    .uploadLink {
        display: none;
    }
    
    .responsive-camera {
        display: inline-block;
    }

    #dropUploadText {
        display: none;
    }

    #dropUploadText-responsive {
        display: inline-block;
        color: #4386A9;
        font-weight: 800;
        width: 10rem;
        text-align: center;
        margin-top: 2rem;
    }

    .img-container {
        width: 90vw;
        height: 12rem;
    }

    .laptop-form-container {
        margin-top: 20px;
        width: 0;
    }

    .stretch-row {
        flex-direction: column;
        width: 95vw;
        margin-right: 0 !important;
    }
    .stretch-row > .input-container {
        width: 21rem !important;
        margin-left: -13px;
    }
    .flex-row > .input-container > input {
        width: 20rem !important;
    }

    .dropdown-container-class {
        width: 22rem;
        margin-left: -1rem;
    }

    .flex-row {
        width: 100vw;
    }
    .third-width {
        width: 22rem;
    }
    #flex-row-id {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        /* margin-left: 3rem; */
        width: 100vw;
    }
    #storage-margins {
        margin: 0;
    }

    #radio-responsive, #radio-responsive div {
        display: flex;
        flex-direction: row !important;
        margin-right: 30px;
        margin-left: 30px;
    }

    #radio-responsive {
        margin-bottom: 3rem !important;
        width: 10vw !important;
    }
    #storage-p {
        margin: 2rem 27px;
    }

    .hr {
        display: none;
    }

    .left-positioned {
        width: 0;
        margin-left: -24rem;
    }

    .padding-around {
        padding: 0;
    }

    #condition-responsive {
        display: flex;
        flex-direction: row !important;
        margin-right: 30px;
        margin-left: 30px;
        width: 18rem;
        margin-bottom: 5rem;
    }

    #conditionP {
        margin-left: 20px;
    }

    .icon-margin {
        display: none;
    }

    #laptop-btns-responsive {
        display: flex;
        flex-direction: row !important;
        width: 90vw !important;
    }
}