.laptopsList-container {
  width: 1200px;
  gap: 50px;
  justify-content: flex-start;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

#laptopsList-header {
    text-align: center;
    margin-bottom: 80px;
}