html {
    background: #f6f6f6;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow-back {
    margin-left: 70px;
    margin-top: 53px;
    display: inline-block;
}

.arrow-back:hover {
    cursor: pointer;
}

.routes {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#underline {
    height: 2px;
    width: 80%;
    display: flex;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 8px;
}

.route-name {
    font-weight: 700px;
    font-size: 20px;
    line-height: 25px;
    color: #232323;
}

.form-container {
    background: #ffffff;
    height: 100%;
    margin-top: 50px;
    padding: 88px 216px;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.logo {
    margin: 70px;
}

.error-class {
    color: #E52F2F;
}

.align-right {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 8px 24px;
}

.name-input {
    width: 36rem;
}

@media only screen and (max-width: 391px) {
    #go-back {
        height: 20px;
    }
    .arrow-back img {
        margin-left: -4rem;
        margin-top: -1.6rem;
        display: inline-block;
    }
    #path-laptop {
        display: none !important;
    }

    #path-user {
        margin-left: 1rem;
        font-weight: 900;
    }

    #underline {
        display: none;
    }

    .flex-row {
        flex-direction: column !important;
    }

    .flex-row > .input-container {
        width: 21rem !important;
    }
    .flex-row > .input-container > input {
        width: 20rem !important;
    }

    .form-container {
        padding: 0 0;
    }

    .full-width {
        width: 20.6rem !important;
    }
}